pandas==2.2.1
scikit-learn==1.4.2 # Ajout d'une version sp\u00E9cifique pour scikit-learn
matplotlib==3.8.4  # Fixe la version de matplotlib
seaborn==0.13.2    # Fixe la version de seaborn
numpy==1.26.4      # Fixe la version de numpy
ydata-profiling==4.6.4
dvc==3.61.0        # Fixe la version de dvc
cml==0.0.1         # Fixe la version de cml